html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background: #eaebee;
	color: #444;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
}
input, textarea, select, button {
	letter-spacing: 1px;
}
.middle {
	vertical-align: middle;
}
.spinner {
	-webkit-animation: spinner .8s ease infinite;
}
@-webkit-keyframes spinner {
	to { -webkit-transform: rotate(360deg); }
}