.header {
	font-size: 0;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
.header--controls {
	-webkit-app-region: no-drag;
}
.header--image {
	width: 40px;
}
.header--item {
	height: 50px;
	line-height: 50px;
}
.header--li {
	font-size: 1.5rem;
}
.header--link {
	padding-top: 2px;
	transition: all .5s ease;
}
.header--link:hover {
	color: #444;
}
.header--version-number {
	font-size: 12px;
}